@charset "UTF-8";
#wrapper {
	width: 1021px;
	position: relative;
	left: auto;
	top: 0px;
	right: auto;
	bottom: 0px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#logo {
	background-image: url(images/index_new/logo_bbq.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	text-align: left;
	text-indent: -3000px;
	width: 687px;
	height: 199px;
	margin: 0px;
}
#promo {
	float: right;
	height: 199px;
	width: 334px;
	margin: 0px;
	clear: both;
	position: absolute;
	right: 0px;
	top: 0px;
}
#rtnavbar {
	width: 334px;
	position: absolute;
	margin: 0px;
	right: 0px;
	top: 199px;
}
#text {
	margin: 0px;
	height: 416px;
	width: 606px;
	background-image: url(images/index_new/left_mainback.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	position: absolute;
	left: 0px;
	top: 234px;
}
#text p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	line-height: 16px;
	color: #4D2615;
	text-align: left;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 50px;
}
#text h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-style: normal;
	line-height: 24px;
	color: #FF0000;
	text-align: left;
	margin-top: 5px;
	margin-right: 0px;
	margin-left: 50px;
}
#mainimage {
	margin: 0px;
	height: 416px;
	width: 415px;
	position: absolute;
	float: right;
	top: 234px;
	right: 0px;
}
#emaillist  {
	width: 160px;
	left: 40px;
	position: absolute;
	top: 470px;
	margin-top: 10px;
}
#yelp {
	margin-top: 20px;
}
#yelp  img  {
}
#twitter_div {
	position: absolute;
	top: 520px;
	left: 210px;
	width: 200px;
}
#umbrella {
	position: absolute;
	top: 535px;
	left: 450px;
	width: 120px;
}
#twitter_div a {
	text-decoration: none;
	color: #FDF8D5;
}
#twitter_update_list {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #3b1c12;
	background-position: left;
}
#twitter_update_list a {
	color: #3b1c12;
	text-decoration: none;
}
#abouttext {
	margin: 0px;
	height: 481px;
	width: 619px;
	background-image: url(images/aboutlback.jpg);
	background-repeat: no-repeat;
	position: absolute;
	left: 0px;
	top: 134px;
}
#abouttext p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: 14px;
	color: #000000;
	text-align: left;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 50px;
	font-weight: normal;
	width: 450px;
}
#abouttext h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-style: normal;
	line-height: 16px;
	color: #000000;
	text-align: left;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 50px;
	font-weight: bold;
}
#about_mainimage {
	margin: 0px;
	height: 481px;
	width: 402px;
	position: absolute;
	float: right;
	top: 134px;
	right: 0px;
}
#aboutwrapper {
	height: 620px;
	width: 1021px;
	position: relative;
	left: auto;
	top: 0px;
	right: auto;
	bottom: 0px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#faqstext {
	margin: 0px;
	height: 713px;
	width: 619px;
	background-image: url(images/faqsl.jpg);
	background-repeat: no-repeat;
	position: absolute;
	left: 0px;
	top: 134px;
}
#faqstext p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: 14px;
	color: #000000;
	text-align: left;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 50px;
	font-weight: normal;
	width: 525px;
}
#faqstext h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-style: normal;
	line-height: 16px;
	color: #000000;
	text-align: left;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 50px;
	font-weight: bold;
}
#faqs_mainimage {
	margin: 0px;
	height: 713px;
	width: 402px;
	position: absolute;
	float: right;
	top: 134px;
	right: 0px;
}
#indexfooter_nav {
	top: 640px;
	position: absolute;
	visibility: visible;
	width: 1021px;
}
#indexfooter_nav   ul {
	list-style-type: none;
	margin: 0px;
}
#indexfooter_nav    ul    li {
	display: inline;
	float: right;
}
#indexfooter_nav   ul   li   a {
	display: block;
	padding: 8px 15px;
	color: #FDF8D5;
	font-size:12px;
	font-weight:normal;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
#menufooter_nav {
	top: 485px;
	position: absolute;
	visibility: visible;
	width: 1021px;
}
#menufooter_nav ul {
	list-style-type: none;
	margin: 0px;
}
#menufooter_nav ul li {
	display: inline;
	float: right;
}
#menufooter_nav ul li a {
	display: block;
	padding: 8px 15px;
	color: #FDF8D5;
	font-size:12px;
	font-weight:normal;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
#locationsfooter_nav {
	top: 1035px;
	position: absolute;
	visibility: visible;
	width: 1020px;
	left: 1px;
}
#locationsfooter_nav ul {
	list-style-type: none;
	margin: 0px;
}
#locationsfooter_nav ul li {
	display: inline;
	float: right;
}
#locationsfooter_nav ul li a {
	display: block;
	padding: 8px 15px;
	color: #FDF8D5;
	font-size:12px;
	font-weight:normal;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
#faqsfooter_nav {
	top: 845px;
	position: absolute;
	visibility: visible;
	width: 1020px;
	left: 1px;
}
#faqsfooter_nav ul {
	list-style-type: none;
	margin: 0px;
}
#faqsfooter_nav ul li {
	display: inline;
	float: right;
}
#faqsfooter_nav ul li a {
	display: block;
	padding: 8px 15px;
	color: #FDF8D5;
	font-size:12px;
	font-weight:normal;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
#worksfooter_nav {
	top: 2920px;
	position: absolute;
	visibility: visible;
	width: 1020px;
	left: 1px;
}
#worksfooter_nav ul {
	list-style-type: none;
	margin: 0px;
}
#worksfooter_nav ul li {
	display: inline;
	float: right;
}
#worksfooter_nav ul li a {
	display: block;
	padding: 8px 15px;
	color: #FDF8D5;
	font-size:12px;
	font-weight:normal;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
#contactfooter_nav {
	top: 970px;
	position: absolute;
	visibility: visible;
	width: 1020px;
	left: 1px;
}
#contactfooter_nav ul {
	list-style-type: none;
	margin: 0px;
}
#contactfooter_nav ul li {
	display: inline;
	float: right;
}
#contactfooter_nav ul li a {
	display: block;
	padding: 8px 15px;
	color: #FDF8D5;
	font-size:12px;
	font-weight:normal;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
#aboutfooter_nav {
	top: 596px;
	position: absolute;
	visibility: visible;
	width: 1020px;
	left: 1px;
}
#abouttfooter_nav ul {
	list-style-type: none;
	margin: 0px;
}
#aboutfooter_nav ul li {
	display: inline;
	float: right;
}
#aboutfooter_nav ul li a {
	display: block;
	padding: 8px 15px;
	color: #FDF8D5;
	font-size:12px;
	font-weight:normal;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
